.guest-navbar {
  &__container {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0, 1);
    border-bottom: 1px solid white;
  }
  &__wrapper {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
  }

  &__auth-link {
    color: white;
    font-size: 16px;
    transition: color .2s ease;
    &:hover {
      color: #66afe9;
    }
    &--active {
      color: red;
    }
    &:nth-child(1) {
      padding-right: 10px;
      border-right: 1px solid white;
    }
    &:nth-child(2) {
      padding-left: 10px;
    }
  }


  &__left {
    display: flex;
    align-items: center;
  }

}
