.footerSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  &__section {
    background: linear-gradient(104.96deg, #272727 -0.49%, #0E0E0E 100.81%);

  }

  &__wrapper {

  }


  &__apps {
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-link {
      padding: 5px;
      background-color: #cccccc;
      border-radius: 3px;
      &:hover {
        opacity: 0.9
      }
    }

  }



  &__column {

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }

    &-item {

    }

    &-link {
      color: white;
      transition: color .2s ease;
      &:hover {
        color: #66afe9;
      }
    }

  }
}